.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-main,
.btn-light,
.btn-dark {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #2d3436;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.btn-main {
  color: #2d3436;
  background-color: #ff7675;
}

.btn-light {
  color: #2d3436;
  background-color: #dfe6e9;
}

.btn-dark {
  color: #dfe6e9;
  background-color: #2d3436;
}

.divider-full {
  width: 100%;
  border-top: 2px solid #ff7675;
}

.divider-xl,
.divider-l,
.divider-m,
.divider-s {
  border-top: 2px solid #dfe6e9;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.divider-xl {
  width: 250px;
}

.divider-l {
  width: 200px;
}

.divider-m {
  width: 150px;
}

.divider-s {
  width: 100px;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ff7675;
  color: #dfe6e9;
}

#work {
  background-color: #2d3436;
  padding-bottom: 2rem;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item {
  position: relative;
  background: #ff7675;
  overflow: hidden;
}

.item a {
  text-decoration: underline;
  text-transform: capitalize;
  color: #dfe6e9;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1),
    -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover::after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.item-image {
  height: auto;
  display: block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1),
    -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #dfe6e9;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1),
    -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-text-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 1.5rem 0;
  color: #dfe6e9;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.7;
  color: #dfe6e9;
  font-weight: 600;
}

.item-text-about {
  color: #dfe6e9;
  padding: 0 1rem;
  margin: 10px auto;
  text-align: center;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background: #2d3436;
}

a {
  text-decoration: none;
  color: #2d3436;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.highlight {
  color: #ff7675;
}

.title {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
}

#logo {
  width: 50px;
  height: 50px;
}

#main-nav {
  background-color: rgb(255, 118, 117);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #dfe6e9;
  z-index: 10;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main-nav ul a {
  color: #dfe6e9;
  font-weight: 500;
  margin-left: 1rem;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#main-nav ul a:hover {
  border-color: #dfe6e9;
}

.header-home {
  background: url(/img/showcase.jpg) no-repeat center right/cover;
  height: 93vh;
  color: #fff;
}

.header-home .header-content {
  text-align: center;
  padding-top: 20%;
}

.header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  padding-bottom: 30px;
}

.header-home .header-content .txt-type {
  font-size: 2rem;
  height: 60px;
  color: #dfe6e9;
  padding-bottom: 30px;
}

#about {
  background: #2d3436;
  color: #dfe6e9;
  padding-bottom: 4rem;
}

#about .about-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  margin: 10px auto;
  padding: 1rem 0;
}

#about .about-info .bio {
  background: #636e72;
  padding: 1rem;
  border-left: 5px solid #ff7675;
  display: -ms-grid;
  display: grid;
}

#about .about-info .bio h3 {
  padding-bottom: -20px;
}

#about .about-info .bio p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: justify;
  padding: 10px 0;
  font-size: rem;
}

#about .progress {
  height: 20px;
  background: #636e72;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

#about .progress div {
  background: #ff7675;
  height: 100%;
  -webkit-animation: fill 1s ease;
  animation: fill 1s ease;
}

#about .progress div:hover {
  background: #ff5d5c;
}

#about .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#about .stats ul {
  border: 1px solid #636e72;
  padding: 1rem 0;
}

#about .stats ul i {
  color: #ff7675;
}

#about .stats .stats-value {
  font-size: 2rem;
  padding: 1.5rem 0;
}

#about .stats .stats-title {
  font-weight: bold;
  font-size: 1.2rem;
}

@-webkit-keyframes fill {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}

@keyframes fill {
  from {
    width: 0;
  }
  to {
    width: 100;
  }
}

#contact {
  background-color: #2d3436;
  color: #dfe6e9;
  padding-bottom: 2rem;
  text-align: center;
}

#contact .lead {
  text-align: center;
  font-size: large;
  padding: 2rem;
}

#main-footer {
  background-color: black;
  color: #dfe6e9;
  height: 3rem;
}

#main-footer p {
  font-size: 1rem;
}

#main-footer #heart {
  color: red;
  font-size: 1rem;
}

#main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 3rem;
}

#main-footer .footer-content .social a {
  margin-left: 1rem;
  color: #dfe6e9;
}

#main-footer .footer-content .social a:nth-child(1):hover {
  color: #3b5998;
}

#main-footer .footer-content .social a:nth-child(2):hover {
  color: #e1306c;
}

#main-footer .footer-content .social a:nth-child(3):hover {
  color: #00aced;
}

#main-footer .footer-content .social a:nth-child(4):hover {
  color: #007bb6;
}

#main-footer .footer-content .social a:nth-child(5):hover {
  color: #0088cc;
}

#main-footer .footer-content .social a:last-child:hover {
  color: #4078c0;
}

@media (min-width: 551px) and (max-width: 768px) {
  #main-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
  }
  .header-home {
    background: url(/img/showcase.jpg) no-repeat center center/cover;
    height: 95vh;
  }
  .header-home .header-content {
    padding-top: 40%;
  }
  #about .about-info .bio {
    padding-bottom: 0.5rem;
  }
  #work .items {
    grid-template-columns: 1fr;
  }
  #work .item-text-title {
    font-size: 1.5rem;
  }
  #work .item-text-category {
    font-size: small;
  }
  #work .item-text-about {
    font-size: small;
    font-weight: 500;
  }
}

@media screen and (max-width: 550px) {
  .highlight {
    display: block;
  }
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  .divider-l {
    width: 170px;
  }
  .divider-xl {
    width: 200px;
  }
  #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #main-nav #logo {
    margin: auto;
  }
  #main-nav ul {
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
  }
  .header-home {
    background: url(/img/showcase.jpg) no-repeat center center/cover;
    height: 92vh;
  }
  .header-home .header-content {
    padding-top: 60%;
  }
  .header-home .header-content h1 {
    font-size: 3rem;
  }
  .header-home .header-content .txt-type {
    font-size: 1.5rem;
  }
  #about .about-info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #about .about-info .bio {
    border-left: none;
    border-top: 5px solid #ff7675;
    text-align: justify;
    padding-bottom: 1rem;
  }
  #about .about-info .bio h3 {
    color: #ff7675;
  }
  #about .container {
    padding-top: 1rem;
  }
  #about .stats {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #about .stats .stats-title {
    font-size: 1rem;
  }
  #work .items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  #contact .lead {
    font-size: 0.8rem;
  }
  #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 6rem;
    grid-gap: 1rem;
  }
  #main-footer .footer-content .social {
    margin: 0 auto;
    margin-top: 1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  #main-footer .footer-content p {
    margin: auto;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
/*# sourceMappingURL=style.css.map */
